@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #ec362d;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > h2 {
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  cursor: pointer;
}

main {
  width: 100%;
  max-width: 1051px;
  margin: 77px auto 30px auto;
}

.tela-inicial {
  display: flex;
  flex-direction: column;
  row-gap: 77px;
  justify-content: center;
  align-items: center;
}

.criar-quizz {
  width: 100%;
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seus-quizzes {
  width: 1050px;
}

.seus-quizzes-titulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  margin-bottom: 14px;
}

.seus-quizzes-titulo > p {
  font-size: 20px;
  font-weight: 700;
}

.seus-quizzes-titulo > ion-icon {
  font-size: 30px;
  color: #ec362d;
  cursor: pointer;
}

.seus-quizzes-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 1050px;
}

.imagelista {
  position: relative;
  width: 340px;
  height: 181px;
  background-image: url("https://images7.memedroid.com/images/UPLOADED608/5d769bb5a0339.jpeg");
  background-size: 340px 181px;
  border-radius: 5px;
  word-break: break-word;
  cursor: pointer;
}

.imagelista p {
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
  width: 300px;
  font-size: 19px;
  color: #ffffff;
}

.texto-botao {
  width: 250px;
  display: flex;
  text-align: center;
  justify-content: center;
  row-gap: 34px;
  flex-wrap: wrap;
}

.texto-botao > p {
  color: #b9b9b9;
  font-size: 20px;
}

.texto-botao > button {
  background-color: #ffffff;
  width: 151px;
  color: #ec362d;
  font-size: 21px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  cursor: pointer;
}

.todos-quizzes {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  width: 1050px;
}

.todos-quizzes > p {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.quizzes > li {
  position: relative;
  display: flex;
  justify-content: center;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  cursor: pointer;
}

.quizzes > li > img {
  width: 340px;
  height: 181px;
}

.seus-quizzes-lista > li > .gradiente {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 181px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.quizzes > li > .gradiente {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 181px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.gradiente > div {
  position: absolute;
  bottom: 7px;
  left: 20px;
  width: 301px;
  height: 54px;
  display: flex;
  align-items: center;
}

.quizzes p {
  color: #ffffff;
  font-size: 19px;
  height: 20px;
}

.banner {
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 69px;
  left: 0;
  width: 100%;
  height: 227px;
}

.banner > p {
  position: absolute;
  z-index: 1;
  font-size: 39px;
  color: #ffffff;
  text-shadow: 1px 5px 5px black;
}

.bannerImage {
  position: absolute;
  width: 100%;
  height: 227px;
  object-fit: cover;
  opacity: 0.6;
}

.quizzesPraJogar {
  width: 759px;
  margin: 269px auto;
  display: flex;
  flex-direction: column;
  row-gap: 102px;
}

.quizzesPraJogar > li._quizz {
  width: 100%;
  background-color: #ffffff;
}

._quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

._quizz > div {
  background-color: #434ca0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 688px;
  height: 138px;
  text-align: center;
}

._quizzTitulo {
  color: #ffffff;
  font-size: 23px;
  word-wrap: break-word;
}

._quizzAlternativas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  width: 688px;
  height: 450px;
}

._quizzAlternativas > li {
  width: 329px;
  height: 216px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

._quizzAlternativas > li > img {
  width: 329px;
  height: 175px;
  object-fit: fill;
}

._quizzAlternativas > li > p {
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  word-break: break-word;
}

._resultado {
  background-color: #ffffff;
  width: 759px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 18px;
}
._pontuacao {
  background-color: #ec362d;
  width: 727px;
  height: 99px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._pontuacao > p {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  width: 700px;
}

._pontuacao2 {
  height: 364px;
  width: 727px;
  display: flex;
  column-gap: 21px;
}

._pontuacao2 > img {
  width: 364px;
  height: 273px;
  object-fit: fill;
}

._pontuacao2 > p {
  width: 328px;
  color: #484848;
  height: 273px;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  word-break: break-word;
}

._reiniciarQuizz {
  position: absolute;
  width: 260px;
  height: 112px;
  margin-top: 660px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

._reiniciar,
._home {
  cursor: pointer;
  font-size: 21px;
  font-weight: 400;
}

._reiniciar {
  background-color: #ec362d;
  color: #ffffff;
  border: 0;
  width: 260px;
  height: 52px;
  border-radius: 15px;
}

._home {
  background-color: #fafafa;
  color: #818181;
  border: 0;
  width: 260px;
  height: 44px;
}

.true {
  color: #000000;
}

.false {
  color: #000000;
}

.tela-quizz {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.template-novo-quizz {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 23px;
  color: #000000;
  font-weight: 700;
  margin: 10px 0 17px 5px;
}

h5 {
  font-size: 23px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 29px;
}

.container-quizz {
  width: 600px;
  background-color: #ffffff;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.template-novo-quizz input {
  width: 100%;
  height: 46px;
  padding: 13px 23px;
  background-color: #ffffff;
  color: #d1d1d1;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  margin: 0 auto 9px auto;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  word-break: break-word;
}

.tela-quizz button {
  background-color: #ec362d;
  width: 324px;
  height: 54px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #ec362d;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.template-item-quizz {
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expansivo {
  background-color: #ffffff;
  height: 74px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px;
}

.expansivo > ion-icon {
  font-size: 26px;
}

ion-icon:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.expansivo > h6 {
  margin: 0;
}

.escondido {
  display: none;
}

input:placeholder-shown {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

a {
  font-size: 21px;
  font-weight: 400;
  margin: 9 auto;
  color: #818181;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1100px) {
  * {
    box-sizing: border-box;
  }
  main {
    width: 100%;
    margin: 31px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tela-inicial {
    row-gap: 35px;
    width: 100vw;
  }
  .criar-quizz {
    width: 100%;
  }
  .todos-quizzes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 30px;
  }
  .template-novo-quizz {
    width: 100vw;
  }
  .container-quizz {
    width: 100vw;
  }
  input.descricao-nivel {
    height: 177px;
    word-break: break-word;
  }
  .banner,
  .bannerImage {
    height: 142px;
  }
  .banner > p {
    font-size: 25px;
  }
  .quizzesPraJogar {
    width: 100%;
    margin: 166px auto;
    row-gap: 88px;
  }
  .quizzesPraJogar > li {
    width: 100%;
    height: 436px;
  }
  .quizzesPraJogar > li._quizz {
    height: 436px;
    width: 100%;
    gap: 10;
  }
  ._quizz > div {
    width: 340px;
    height: 89px;
  }
  ._quizzTitulo {
    font-size: 19px;
    word-break: break-word;
  }
  .quizzes {
    width: 100%;
  }
  .quizzes > li {
    width: 100%;
  }
  ._quizzAlternativas {
    width: 340px;
    height: 300px;
    gap: 12px;
  }
  ._quizzAlternativas > li {
    width: 163px;
    height: 183px;
    object-fit: fill;
  }
  ._quizzAlternativas > li > img {
    width: 163px;
    height: 113px;
    object-fit: fill;
  }
  ._quizzAlternativas > li > p {
    font-size: 13px;
    height: 22px;
  }
  li._ ultado {
    height: 500px;
  }
  ._pontuacao {
    width: 340px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._pontuacao > p {
    width: 308px;
    font-size: 19px;
    text-align: center;
  }
  ._pontuacao2 {
    width: 340px;
    flex-direction: column;
    row-gap: 12px;
  }
  ._pontuacao2 > p {
    line-height: 19px;
    font-size: 17px;
  }
  ._pontuacao2 > img {
    width: 340px;
  }
  .seus-quizzes > ul {
    width: 100%;
  }
  ul > .seus-quizzes-lista {
    width: 100%;
    row-gap: 14px;
  }
  .seus-quizzes {
    width: 100%;
    padding: 0 30px;
  }
  .seus-quizzes-titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  .bannerTitulo {
    word-break: break-word;
  }
  .quizzes > li > .gradiente {
    width: 100%;
  }
  .gradiente > div {
    width: 100%;
  }
  li.imagelista {
    width: 100%;
  }
  .gradiente > p {
    width: 95%;
    word-wrap: normal;
  }
}
